* {
  box-sizing: border-box;
}

:root {
  --bg: #eff1f5;
  --surface: #dce0e8;
  --divider: #e6e9ef;
  --text: #4c4f69;
  --subtext: #6c6f85;

  --red: #d20f39;
  --blue: #1e66f5;
  --green: #40a02b;
  --yellow: #df8e1d;
  --cyan: #04a5e5;
  --violet: #7287fd;
}
